/* [project]/public/assets/library/linea/weather/styles.css [app-client] (css) */
@font-face {
  font-family: linea-weather-10;
  src: url("../media/linea-weather-10.de99be02.eot");
  src: url("../media/linea-weather-10-1.de99be02.eot") format("embedded-opentype"), url("../media/linea-weather-10.89d0a7a2.woff") format("woff"), url("../media/linea-weather-10.0d94fc97.ttf") format("truetype"), url("../media/linea-weather-10.23c91ef5.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  content: attr(data-icon);
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  font-variant: normal !important;
  text-transform: none !important;
  font-family: linea-weather-10 !important;
  font-style: normal !important;
  font-weight: normal !important;
}

[class^="icon-weather"]:before, [class*=" icon-weather"]:before {
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  font-variant: normal !important;
  text-transform: none !important;
  font-family: linea-weather-10 !important;
  font-style: normal !important;
  font-weight: normal !important;
}

.icon-weather-aquarius:before {
  content: "";
}

.icon-weather-aries:before {
  content: "";
}

.icon-weather-cancer:before {
  content: "";
}

.icon-weather-capricorn:before {
  content: "";
}

.icon-weather-cloud:before {
  content: "";
}

.icon-weather-cloud-drop:before {
  content: "";
}

.icon-weather-cloud-lightning:before {
  content: "";
}

.icon-weather-cloud-snowflake:before {
  content: "";
}

.icon-weather-downpour-fullmoon:before {
  content: "";
}

.icon-weather-downpour-halfmoon:before {
  content: "";
}

.icon-weather-downpour-sun:before {
  content: "";
}

.icon-weather-drop:before {
  content: "";
}

.icon-weather-first-quarter:before {
  content: "";
}

.icon-weather-fog:before {
  content: "";
}

.icon-weather-fog-fullmoon:before {
  content: "";
}

.icon-weather-fog-halfmoon:before {
  content: "";
}

.icon-weather-fog-sun:before {
  content: "";
}

.icon-weather-fullmoon:before {
  content: "";
}

.icon-weather-gemini:before {
  content: "";
}

.icon-weather-hail:before {
  content: "";
}

.icon-weather-hail-fullmoon:before {
  content: "";
}

.icon-weather-hail-halfmoon:before {
  content: "";
}

.icon-weather-hail-sun:before {
  content: "";
}

.icon-weather-last-quarter:before {
  content: "";
}

.icon-weather-leo:before {
  content: "";
}

.icon-weather-libra:before {
  content: "";
}

.icon-weather-lightning:before {
  content: "";
}

.icon-weather-mistyrain:before {
  content: "";
}

.icon-weather-mistyrain-fullmoon:before {
  content: "";
}

.icon-weather-mistyrain-halfmoon:before {
  content: "";
}

.icon-weather-mistyrain-sun:before {
  content: "";
}

.icon-weather-moon:before {
  content: "";
}

.icon-weather-moondown-full:before {
  content: "";
}

.icon-weather-moondown-half:before {
  content: "";
}

.icon-weather-moonset-full:before {
  content: "";
}

.icon-weather-moonset-half:before {
  content: "";
}

.icon-weather-move2:before {
  content: "";
}

.icon-weather-newmoon:before {
  content: "";
}

.icon-weather-pisces:before {
  content: "";
}

.icon-weather-rain:before {
  content: "";
}

.icon-weather-rain-fullmoon:before {
  content: "";
}

.icon-weather-rain-halfmoon:before {
  content: "";
}

.icon-weather-rain-sun:before {
  content: "";
}

.icon-weather-sagittarius:before {
  content: "";
}

.icon-weather-scorpio:before {
  content: "";
}

.icon-weather-snow:before {
  content: "";
}

.icon-weather-snow-fullmoon:before {
  content: "";
}

.icon-weather-snow-halfmoon:before {
  content: "";
}

.icon-weather-snow-sun:before {
  content: "";
}

.icon-weather-snowflake:before {
  content: "";
}

.icon-weather-star:before {
  content: "";
}

.icon-weather-storm-11:before {
  content: "";
}

.icon-weather-storm-32:before {
  content: "";
}

.icon-weather-storm-fullmoon:before {
  content: "";
}

.icon-weather-storm-halfmoon:before {
  content: "";
}

.icon-weather-storm-sun:before {
  content: "";
}

.icon-weather-sun:before {
  content: "";
}

.icon-weather-sundown:before {
  content: "";
}

.icon-weather-sunset:before {
  content: "";
}

.icon-weather-taurus:before {
  content: "";
}

.icon-weather-tempest:before {
  content: "";
}

.icon-weather-tempest-fullmoon:before {
  content: "";
}

.icon-weather-tempest-halfmoon:before {
  content: "";
}

.icon-weather-tempest-sun:before {
  content: "";
}

.icon-weather-variable-fullmoon:before {
  content: "";
}

.icon-weather-variable-halfmoon:before {
  content: "";
}

.icon-weather-variable-sun:before {
  content: "";
}

.icon-weather-virgo:before {
  content: "";
}

.icon-weather-waning-cresent:before {
  content: "";
}

.icon-weather-waning-gibbous:before {
  content: "";
}

.icon-weather-waxing-cresent:before {
  content: "";
}

.icon-weather-waxing-gibbous:before {
  content: "";
}

.icon-weather-wind:before {
  content: "";
}

.icon-weather-wind-e:before {
  content: "";
}

.icon-weather-wind-fullmoon:before {
  content: "";
}

.icon-weather-wind-halfmoon:before {
  content: "";
}

.icon-weather-wind-n:before {
  content: "";
}

.icon-weather-wind-ne:before {
  content: "";
}

.icon-weather-wind-nw:before {
  content: "";
}

.icon-weather-wind-s:before {
  content: "";
}

.icon-weather-wind-se:before {
  content: "";
}

.icon-weather-wind-sun:before {
  content: "";
}

.icon-weather-wind-sw:before {
  content: "";
}

.icon-weather-wind-w:before {
  content: "";
}

.icon-weather-windgust:before {
  content: "";
}

/*# sourceMappingURL=public_assets_library_linea_weather_styles_css_bad6b30c._.single.css.map*/