/* [project]/public/assets/library/linea/arrows/styles.css [app-client] (css) */
@font-face {
  font-family: linea-arrows-10;
  src: url("../media/linea-arrows-10.d038bd58.eot");
  src: url("../media/linea-arrows-10-1.d038bd58.eot") format("embedded-opentype"), url("../media/linea-arrows-10.bda910ce.woff") format("woff"), url("../media/linea-arrows-10.6611df69.ttf") format("truetype"), url("../media/linea-arrows-10.6384fdbf.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  content: attr(data-icon);
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  font-variant: normal !important;
  text-transform: none !important;
  font-family: linea-arrows-10 !important;
  font-style: normal !important;
  font-weight: normal !important;
}

[class^="icon-arrows"]:before, [class*=" icon-arrows"]:before {
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  font-variant: normal !important;
  text-transform: none !important;
  font-family: linea-arrows-10 !important;
  font-style: normal !important;
  font-weight: normal !important;
}

.icon-arrows-anticlockwise:before {
  content: "";
}

.icon-arrows-anticlockwise-dashed:before {
  content: "";
}

.icon-arrows-button-down:before {
  content: "";
}

.icon-arrows-button-off:before {
  content: "";
}

.icon-arrows-button-on:before {
  content: "";
}

.icon-arrows-button-up:before {
  content: "";
}

.icon-arrows-check:before {
  content: "";
}

.icon-arrows-circle-check:before {
  content: "";
}

.icon-arrows-circle-down:before {
  content: "";
}

.icon-arrows-circle-downleft:before {
  content: "";
}

.icon-arrows-circle-downright:before {
  content: "";
}

.icon-arrows-circle-left:before {
  content: "";
}

.icon-arrows-circle-minus:before {
  content: "";
}

.icon-arrows-circle-plus:before {
  content: "";
}

.icon-arrows-circle-remove:before {
  content: "";
}

.icon-arrows-circle-right:before {
  content: "";
}

.icon-arrows-circle-up:before {
  content: "";
}

.icon-arrows-circle-upleft:before {
  content: "";
}

.icon-arrows-circle-upright:before {
  content: "";
}

.icon-arrows-clockwise:before {
  content: "";
}

.icon-arrows-clockwise-dashed:before {
  content: "";
}

.icon-arrows-compress:before {
  content: "";
}

.icon-arrows-deny:before {
  content: "";
}

.icon-arrows-diagonal:before {
  content: "";
}

.icon-arrows-diagonal2:before {
  content: "";
}

.icon-arrows-down:before {
  content: "";
}

.icon-arrows-down-double:before {
  content: "";
}

.icon-arrows-downleft:before {
  content: "";
}

.icon-arrows-downright:before {
  content: "";
}

.icon-arrows-drag-down:before {
  content: "";
}

.icon-arrows-drag-down-dashed:before {
  content: "";
}

.icon-arrows-drag-horiz:before {
  content: "";
}

.icon-arrows-drag-left:before {
  content: "";
}

.icon-arrows-drag-left-dashed:before {
  content: "";
}

.icon-arrows-drag-right:before {
  content: "";
}

.icon-arrows-drag-right-dashed:before {
  content: "";
}

.icon-arrows-drag-up:before {
  content: "";
}

.icon-arrows-drag-up-dashed:before {
  content: "";
}

.icon-arrows-drag-vert:before {
  content: "";
}

.icon-arrows-exclamation:before {
  content: "";
}

.icon-arrows-expand:before {
  content: "";
}

.icon-arrows-expand-diagonal1:before {
  content: "";
}

.icon-arrows-expand-horizontal1:before {
  content: "";
}

.icon-arrows-expand-vertical1:before {
  content: "";
}

.icon-arrows-fit-horizontal:before {
  content: "";
}

.icon-arrows-fit-vertical:before {
  content: "";
}

.icon-arrows-glide:before {
  content: "";
}

.icon-arrows-glide-horizontal:before {
  content: "";
}

.icon-arrows-glide-vertical:before {
  content: "";
}

.icon-arrows-hamburger1:before {
  content: "";
}

.icon-arrows-hamburger-2:before {
  content: "";
}

.icon-arrows-horizontal:before {
  content: "";
}

.icon-arrows-info:before {
  content: "";
}

.icon-arrows-keyboard-alt:before {
  content: "";
}

.icon-arrows-keyboard-cmd:before {
  content: "";
}

.icon-arrows-keyboard-delete:before {
  content: "";
}

.icon-arrows-keyboard-down:before {
  content: "";
}

.icon-arrows-keyboard-left:before {
  content: "";
}

.icon-arrows-keyboard-return:before {
  content: "";
}

.icon-arrows-keyboard-right:before {
  content: "";
}

.icon-arrows-keyboard-shift:before {
  content: "";
}

.icon-arrows-keyboard-tab:before {
  content: "";
}

.icon-arrows-keyboard-up:before {
  content: "";
}

.icon-arrows-left:before {
  content: "";
}

.icon-arrows-left-double-32:before {
  content: "";
}

.icon-arrows-minus:before {
  content: "";
}

.icon-arrows-move:before {
  content: "";
}

.icon-arrows-move2:before {
  content: "";
}

.icon-arrows-move-bottom:before {
  content: "";
}

.icon-arrows-move-left:before {
  content: "";
}

.icon-arrows-move-right:before {
  content: "";
}

.icon-arrows-move-top:before {
  content: "";
}

.icon-arrows-plus:before {
  content: "";
}

.icon-arrows-question:before {
  content: "";
}

.icon-arrows-remove:before {
  content: "";
}

.icon-arrows-right:before {
  content: "";
}

.icon-arrows-right-double:before {
  content: "";
}

.icon-arrows-rotate:before {
  content: "";
}

.icon-arrows-rotate-anti:before {
  content: "";
}

.icon-arrows-rotate-anti-dashed:before {
  content: "";
}

.icon-arrows-rotate-dashed:before {
  content: "";
}

.icon-arrows-shrink:before {
  content: "";
}

.icon-arrows-shrink-diagonal1:before {
  content: "";
}

.icon-arrows-shrink-diagonal2:before {
  content: "";
}

.icon-arrows-shrink-horizonal2:before {
  content: "";
}

.icon-arrows-shrink-horizontal1:before {
  content: "";
}

.icon-arrows-shrink-vertical1:before {
  content: "";
}

.icon-arrows-shrink-vertical2:before {
  content: "";
}

.icon-arrows-sign-down:before {
  content: "";
}

.icon-arrows-sign-left:before {
  content: "";
}

.icon-arrows-sign-right:before {
  content: "";
}

.icon-arrows-sign-up:before {
  content: "";
}

.icon-arrows-slide-down1:before {
  content: "";
}

.icon-arrows-slide-down2:before {
  content: "";
}

.icon-arrows-slide-left1:before {
  content: "";
}

.icon-arrows-slide-left2:before {
  content: "";
}

.icon-arrows-slide-right1:before {
  content: "";
}

.icon-arrows-slide-right2:before {
  content: "";
}

.icon-arrows-slide-up1:before {
  content: "";
}

.icon-arrows-slide-up2:before {
  content: "";
}

.icon-arrows-slim-down:before {
  content: "";
}

.icon-arrows-slim-down-dashed:before {
  content: "";
}

.icon-arrows-slim-left:before {
  content: "";
}

.icon-arrows-slim-left-dashed:before {
  content: "";
}

.icon-arrows-slim-right:before {
  content: "";
}

.icon-arrows-slim-right-dashed:before {
  content: "";
}

.icon-arrows-slim-up:before {
  content: "";
}

.icon-arrows-slim-up-dashed:before {
  content: "";
}

.icon-arrows-square-check:before {
  content: "";
}

.icon-arrows-square-down:before {
  content: "";
}

.icon-arrows-square-downleft:before {
  content: "";
}

.icon-arrows-square-downright:before {
  content: "";
}

.icon-arrows-square-left:before {
  content: "";
}

.icon-arrows-square-minus:before {
  content: "";
}

.icon-arrows-square-plus:before {
  content: "";
}

.icon-arrows-square-remove:before {
  content: "";
}

.icon-arrows-square-right:before {
  content: "";
}

.icon-arrows-square-up:before {
  content: "";
}

.icon-arrows-square-upleft:before {
  content: "";
}

.icon-arrows-square-upright:before {
  content: "";
}

.icon-arrows-squares:before {
  content: "";
}

.icon-arrows-stretch-diagonal1:before {
  content: "";
}

.icon-arrows-stretch-diagonal2:before {
  content: "";
}

.icon-arrows-stretch-diagonal3:before {
  content: "";
}

.icon-arrows-stretch-diagonal4:before {
  content: "";
}

.icon-arrows-stretch-horizontal1:before {
  content: "";
}

.icon-arrows-stretch-horizontal2:before {
  content: "";
}

.icon-arrows-stretch-vertical1:before {
  content: "";
}

.icon-arrows-stretch-vertical2:before {
  content: "";
}

.icon-arrows-switch-horizontal:before {
  content: "";
}

.icon-arrows-switch-vertical:before {
  content: "";
}

.icon-arrows-up:before {
  content: "";
}

.icon-arrows-up-double-33:before {
  content: "";
}

.icon-arrows-upleft:before {
  content: "";
}

.icon-arrows-upright:before {
  content: "";
}

.icon-arrows-vertical:before {
  content: "";
}

/*# sourceMappingURL=public_assets_library_linea_arrows_styles_css_bad6b30c._.single.css.map*/